
@if(Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item">
        <a asp-controller="Usuarios"
            asp-action="Perfil"
            class="nav-link">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Managed"
            asp-action="LogOut"
            class="nav-link text-danger">
            Log Out 
            <span style="color:blue">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
    
}
